.form-control {
  color: #2286dc;
}   
.algolia-autocomplete {
  width: 100%;
}
.algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
  width: 100%;
}
.algolia-autocomplete .aa-hint {
  color: #999;
}
.algolia-autocomplete {
  width: 100%;
  background-color: #fff;
  border: 1px solid #999;
  border-top: none;
}
.algolia-autocomplete .aa-suggestion {
  cursor: pointer;
  padding: 5px 4px;
}

.algolia-autocomplete {
  background-color: #B2D7FF;
}
.algolia-autocomplete em {
  font-weight: bold;
  font-style: normal;
  color: #2286dc;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
